.div {
    position: relative;
    top: 12%;
    height: 8%;
    border-bottom: 3px solid rgb(243, 164, 177);
    border-radius: 10px;
    margin: 1.3rem auto;
    width: 70%;
    text-align: center;
    /* display: inline; */
}

.div input {
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    position: relative;
    /* top: 3px; */
    height: 70%;
    width: 80%;
    font-size: 1.5em;
    font-family: 'Lobster', cursive;
    text-align: center;
    letter-spacing: 2.5px;
    /* border: ; */
}

.div input::placeholder {
    color: rgb(223, 223, 223);
}
.div i {
    display: inline;
    position: relative;
    left: 10px;
    color: rgb(243, 164, 177);
    font-size: 2em;
    height: 70%;
    width: 50%;
    /* border: ; */
}

.select {
    margin-top: 70px;
    outline: none;
    border: 5px solid rgb(243, 164, 177);
    color: rgb(243, 164, 177);
    background-color: transparent;
    height: 10%;
    width: 30%;
    font-size: 1.5em;
    font-family: 'Lobster', cursive;
    text-align: center;
    letter-spacing: 2.5px;
}