.div {
    position: relative;
    top: 12%;
    height: 8%;
    border-radius: 10px;
    margin: 1rem auto;
    width: 70%;
    text-align: center;
}

.div input {
    outline: none;
    border: 1px solid rgb(243, 164, 177);
    color: white;
    background-color: transparent;
    position: relative;
    height: 70%;
    width: 80%;
    padding: 0.5em;
    font-size: 1.5em;
    font-family: 'Lobster', cursive;
    text-align: center;
    letter-spacing: 2.5px;
    border-radius: 5px;
}

.div input::placeholder {
    color: rgb(223, 223, 223);
}

.select {
    margin-top: 70px;
    outline: none;
    border: 1px solid rgb(243, 164, 177);
    color: rgb(243, 164, 177);
    background-color: transparent;
    height: 10%;
    width: 30%;
    font-size: 1.5em;
    font-family: 'Lobster', cursive;
    text-align: center;
    letter-spacing: 2.5px;
}

@media (min-width: 200px) and (max-width: 750px) {
    .select {
        margin-top: 50px;
        border-radius: 5px;
        width: 64%;
        font-size: 1em;
        letter-spacing: 2px;
    }

    .div {
        margin-bottom: 40px;
    }
}