.detailed_body {
    height: 100%;
    width: 100%;
    text-align: center;
}

.detailed_body h1,
.detailed_body h5 {
    color: white;
    font-size: 2em;
}

.detailed_body .img_section {
    height: 80px;
    width: 80px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 1px 2px 5px rgba(0, 44, 44, 0.755);
}

.detailed_body .img_section img {
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 100;
}

.detailed_body .img_section input {
    position: relative;
    bottom: 90%;
    height: 80%;
    width: 90%;
    opacity: 0;
    z-index: 200;
    border-radius: 50%;
}

.detailed_body button {
    position: relative;
    top: -10px;
    border-radius: 10px;
    border: none;
    font-family: 'Arial Narrow Bold', sans-serif;
    padding: 1.2em 0.5em;
    margin: 1px;
    background: #0a0d35;
    color: white;
    font-size: 1em;
    font-weight: 400;
    transition: all 0.2s ease-out;
}

.detailed_body button:hover {
    transform: scale(1.05);
    background-color: #121758;
}

/* .detailed_body .button_two {
    position: relative;
    border-radius: 15px;
    margin-left: 1em;
    border: none;
    font-family: 'Arial Narrow Bold', sans-serif;
    padding: 1.2em 1.5em;
    color: white;
    background: #0a0d35;
    color: white;
    font-size: 1em;
    font-weight: 600;
    transition: all 0.2s ease-out;
} */

@media (max-width: 680px) {
    .detailed_body {
        line-height: 8px;
    }
    .detailed_body h1,
    .detailed_body h5 {
        letter-spacing: 2px;
        font-size: 1.5em;
    }
    
    .detailed_body .img_section {
        margin: 10px auto 0 auto;
    }
}