/*@media (min-width: 481px) and (max-width: 480px) {}
@media (min-width: 300px) and (max-width: 480px) {} */

@media (min-width: 200px) and (max-width: 680px) {
    .head {
        width: 100%;
        height: 12vh;
        position: relative;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        font-family: Rubik;
    }
    .sideBar_icon {
        color: white;
        width: 20%;
        height: 100%;
        font-size: 2em;
    }
    .sideBar_icon i {
        margin: 20px 0 0 20px;
    }
    .logo_section {
        height: 100%;
        display: flex;
        align-items: center;
        width: 70%;
        color: white;
    }
    .logo_section img {
        height: 80%;
        width: 30%;
    }
    .nav_section {
        display: none;
    }
    .auth_section {
        display: none;
    }
}

@media (min-width: 681px) and (max-width: 1440px) {
    .head {
        width: 100%;
        height: 15vh;
        display: flex;
        align-items: center;
        font-family: Rubik;
    }
    .sideBar_icon {
        display: none;
    }
    .logo_section {
        height: 100%;
        display: flex;
        align-items: center;
        width: 25%;
        color: white;
    }
    .logo_section img {
        height: 80%;
        width: 30%;
    }
    .nav_section {
        box-sizing: border-box;
        color: white;
        height: 100%;
        width: 40%;
    }
    .nav_section nav {
        position: relative;
        height: 100%;
        width: 100%;
        top: -18px;
    }
    .nav_section nav ul {
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    .nav_section nav ul li {
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        list-style-type: none;
    }
    .nav_section nav ul li a {
        text-decoration: none;
        font-family: Rubik;
        font-weight: 500;
        font-size: 18px;
        color: #ccc;
    }
    .nav_section nav ul li a i {
        margin-right: 20px;
    }
    .auth_section {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        width: 30%;
    }
    .auth_section button {
        box-sizing: border-box;
        padding: 0.5em 1em;
        font-family: Rubik;
        font-weight: 500;
        font-size: 18px;
        color: white;
        border-radius: 50px;
        outline: none;
    }
    .auth_section button a {
        color: inherit;
        text-decoration: none;
    }
    .auth_section button:nth-child(1) {
        border: none;
        margin-left: 20px;
        background: linear-gradient(125deg, #ac3145, #1a1aed);
    }
    .auth_section button:nth-child(2) {
        border: 2px solid #ac3145;
        background-color: transparent;        
        margin-left: 15px;
    }
}